.fridge-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 40px;
  align-items: start;
}

.ingredients-column,
.ustensils-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fridge-section {
  background-color: #CDE4FA;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #8EB7DE;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.fridge-section h3 {
  color: #2F7CA2;
  margin-bottom: 15px;
}

.items-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.items-list li {
  padding: 8px 0;
  border-bottom: 1px solid #8EB7DE;
  color: #1C2742;
}

.items-list li:last-child {
  border-bottom: none;
}

.form-section {
  background: #E8F3FF;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #8EB7DE;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.form-section input {
  border: 1px solid #5A9DBE !important;
  border-radius: 6px !important;
  padding: 10px !important;
}

.btn-primary {
  background-color: #2F7CA2 !important;
  border: none !important;
  padding: 10px 18px !important;
  border-radius: 6px !important;
  color: white !important;
  font-weight: 600;
  margin-top: 10px;
  transition: 0.2s ease-in-out;
}

.btn-primary:hover {
  background-color: #1C2742 !important;
}

.fridge-content {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}
.ingredients-column,
.ustensils-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  display: flex;
  flex-direction: column-reverse;
}

.ingredient-item {
  display: flex;
  justify-content: space-between;
}

.ingredient-qty {
  margin-left: auto;
  padding-right: 15px;
}
.edit-form .form-section {
  margin-top: 10px;
}

.edit-form input {
  width: 100%;
  margin-bottom: 10px;
}
.edit-btn.d-none {
  display: none !important;
}

.inline-form input {
  margin-bottom: 8px;
  width: 100%;
}


.delete-btn {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  flex-shrink: 0;

  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
  max-width: 36px;
  max-height: 36px;

  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
}


.edit-form .form-section {
  margin-top: 10px;
  padding: 15px;
}

#delete-ingredient-btn {
margin-left: 15px;
height: 20px;
}
