<h1>Todays recipe</h1>

<p><%= @recipe.content %></p>

<%= link_to "Done",
  recipe_path(@recipe),
  data: {turbo_method: :delete, turbo_confirm: "Bon appetit"}%>
   <%# supprime la recette quand elle est faite, faire en sorte de supprimer les ingrédients utilisés avec ce même bouton%>
