<div class="d-flex flex-column h-100">

  <div id="messages" class="overflow-y-auto">
    <%= render "messages/messages", messages: @chat.messages %>
  </div>

  <div class="flex-grow-1" id="new_message_container">
    <%= render "messages/form", chat: @chat, message: @message %>
  </div>

</div>
